xml/definicoes.dtd

<!ELEMENT cardapio (prato+)>
<!ELEMENT prato (nome, descricao, ingredientes, preco, calorias, tempoPreparo)>
<!ATTLIST  prato id ID #REQUIRED>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT descricao (#PCDATA)>
<!ELEMENT calorias (#PCDATA)>
<!ELEMENT preco (#PCDATA)>
<!ELEMENT tempoPreparo (#PCDATA)>
<!ELEMENT ingrediente (#PCDATA)>
<!ENTITY reais "R$">
<!ENTITY dolar "$">
<!ATTLIST preco moeda (BRL|USD) "BRL">
